*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer{
  display: flex;
  justify-content: left;
  align-items: flex-end;  
  height: 100vh;
  width: 100vw;
}

.calendar{
  padding-left: .5vw;
  padding-bottom: 1vh;
}