*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer{
  display: flex;
  justify-content: left;
  align-items: flex-start;  
  height: 100vh;
  width: 100vw;
  background-color: rgb(10, 10, 10);
}

.calendar{
  padding-left: .5vw;
  padding-bottom: 1vh;
}