*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: rgb(10, 10, 10);
}

.mainContainer{
  display: flex;
  justify-content: left;
  align-items: flex-start;  
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.calendar{
  padding-left: .5vw;
  padding-bottom: 1vh;
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.widgets {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1vh 0.5vw;
  align-items: flex-start;
}