.calendar-container{
  background-color: var(--background-color);
  border: solid var(--border-color), 1px;
  border-radius: 8px;
  color: var(--primary-color);
  width: 78.75vw;
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.calendar-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2% 1.5%;
  margin-bottom: 1rem;
  flex-shrink: 0;
}

.calendar-header p{
  margin: 0;
  font-size: 1.2rem;
}

.calendar-controls{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.calendar-header button{
  padding: 0.5rem 1rem;
	background: none;
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.calendar-header-arrows{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.calendar-header-arrows *{
  width: 24px;
  height: 24px;
  stroke: var(--primary-color);
}

.daysOfTheWeek{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 1.5%;
  flex-shrink: 0;
  color: var(--primary-color);
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1px;
  padding: 1.5%;
  flex: 1;
  overflow: hidden;
}

.calendar-day {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  padding: 0.5rem;
  border: 1px solid rgba(var(--border-rgb), 0.333);
  border-radius: 8px;
}

.calendar-day.other-month {
  opacity: 0.3;
}

.calendar-day.today {
  background-color: rgba(var(--primary-rgb),.21);
  border: solid, var(--border-color);
}