.main-container{
  overflow: hidden; 
  background-color: var(--background-color);
  border: solid var(--border-color), 1px;
  border-radius: 16px;
  margin-left: 2%;
  width: 20vw; 
  height: 100%; 
  align-items: start;
}
