.globe-object{
  overflow: hidden; 
  background-color: var(--background-color);
  border: solid var(--border-color), 1px;
  border-radius: 16px;
  width: 20vw; 
  height: 18vw; 
  align-items: start;
}
